@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
	--padding-container: 100px 0;
	--color-title: #001a49;
}

body {
	font-family: "Poppins", sans-serif;
}
/* Contenedor principal,  */

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: var(--padding-container);
}

/* CSS para el contenedor de informacion al entrar a la pantalla, mas insercion de la imagen  */

.hero {
	width: 100%;
	height: 100vh;
	min-height: 600px;
	min-width: 800px;
	position: relative;
	display: grid;
	grid-template-rows: 100px 1fr;
	color: #fff;
}
/* Css que maneja la imagen que se encuentra detras del Hero */

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
		url(/images/computer.jpg);
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
	z-index: -1;
}

/* CSS de Nav */

/* Hace que el nav ocupe todo el alto de la pagina, y lo convierte en flex alineando los items */
.nav {
	--padding-container: 0;
	height: 100%;
	display: flex;
	align-items: center;
}
/* oculta el items que se mostraran en resoluciones pequeñas */
.nav_items {
	list-style: none;
}
/* Separa los items de la barra de menu */

.nav_link {
	margin-left: auto;
	padding: 0;
	display: grid;
	/* chequear 3 nota para espaciado */
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 2em;
}

.nav_title {
	font-weight: 300;
}

.nav_links {
	color: #fff;
	text-decoration: none;
}
/* Oculta los items del menu que se mostrara solo en resoluciones pequeñas */

.nav_menu {
	margin-left: auto;
	cursor: pointer;
	display: none;
}
.nav_img {
	display: block;
	width: 30px;
}

.nav_close {
	display: var(--show, none);
}

/* contenedor de la introduccion de la pagina, alinea los items y los separa de manera correcta chequear notas 4 */

.hero_container {
	max-width: 800px;
	display: grid;
	--padding-container: 0;
	grid-auto-rows: max-content;
	align-content: center;
	gap: 1em;
	padding-bottom: 100px;
	text-align: center;
}

.hero_title {
	font-size: 3rem;
}

.hero_paragraph {
	margin-bottom: 20px;
}

/* estilos visuales del boton de comienza ahora */

.cta {
	display: inline-block;
	background-color: #2091f9;
	justify-self: center;
	color: #fff;
	text-decoration: none;
	padding: 13px 30px;
	border-radius: 32px;
}

/* About, seccion donde se encuentran las 3 puntos principales de que se encontrara en el curso  */

.about {
	text-align: center;
}

.subtitle {
	color: var(--color-title);
	font-size: 2rem;
	margin-bottom: 25px;
}

.about_paragraph {
	line-height: 1.7;
}

/* Contenedor principal de los 3 cuadros de texto*/

.about_main {
	padding-top: 80px;
	display: grid;
	width: 90%;
	margin: 0 auto;
	gap: 1em;
	overflow: hidden;

	/* chequear notas 7 */
	grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons {
	display: grid;
	gap: 1em;
	justify-items: center;
	width: 260px;
	overflow: hidden;
	margin: auto;
}
/* chequear notas 6 */
.about_icon {
	width: 40px;
}

/* Knowledge, seccion donde se encuentra la segunda explicacion del curso  */

.knowledge {
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
		radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
	overflow: hidden;
}

.knowledge_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	align-items: center;
}

.knowledge_picture {
	max-width: 500px;
}

.knowledge_paragraph {
	line-height: 1.7;
	margin-bottom: 15px;
}

/* permite reajustar el tamaño de la imagen del notebook para que se aline con el bloque */
.knowledge_img {
	width: 100%;
	display: block;
}

/* Price, seccion donde se encuentran los diferentes planes */

.price {
	text-align: center;
}
/* separa los items de la tabla con su respectiva distancia y los muestra de una manera flex, chequear nota 8 */
.price_table {
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	gap: 2.5em;
	justify-content: space-evenly;
	align-items: center;
}

.price_element {
	background-color: #e5f5f7;
	text-align: center;
	border-radius: 10px;
	width: 370px;
	padding: 40px;
	--color-plan: #696871;
	--color-price: #1d293f;
	--bg-cta: #fff;
	--color-cta: #5454d4;
	--color-items: #696871;
}
/* Elemento de precio resaltado */
.price_element--best {
	width: 370px;
	padding: 60px 40px;
	background-color: #dd5e19;
	--color-plan: rgb(255 255 255 / 75%);
	--color-price: #fff;
	--bg-cta: #9f3919;
	--color-cta: #fff;
	--color-items: #fff;
}

.price_name {
	color: --var(--color-plan);
	margin-bottom: 15px;
	font-weight: 300;
}

.price_price {
	font-size: 2.5rem;
	color: var(--color-price);
}
/* Estilos del texto dentro de los recuadros */
.price_items {
	margin-top: 35px;
	display: grid;
	gap: 1em;
	font-weight: 300;
	font-size: 1.2em;
	margin-bottom: 50px;
	color: var(--color-items);
}
/* Estilos de los botones */
.price_cta {
	background-color: var(--bg-cta);
	display: block;
	padding: 20px 0;
	border-radius: 10px;
	text-decoration: none;
	font-weight: 600;
	color: var(--color-cta);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

/* Seccion de los testimonios */
.testimony {
	background-color: #e5e5f7;
}

.testimony_container {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	gap: 1em;
	align-items: center;
}
/* Alinea los items entre si, para que estos se coloquen uno encima de otro */
.testimony_body {
	display: grid;
	grid-template-columns: 1fr max-content;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	/* comience en la segunda linea de la columna y que termine en la tercera chequear notas para mas info */
	grid-column: 2/3;
	grid-row: 1/2;

	opacity: 0;
	pointer-events: none;
}
/* Esta es la clase principal que muestra cual sera el panel que se mostrara, trabaja en conjunto con la funcion del slider para que funcione bien */
.testimony_body--show {
	pointer-events: unset;
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
}

.testimony_img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
	/* Horizontalmente centrada, pero un 30% en Y */
	object-position: 50% 30%;
}

.testimony_texts {
	max-width: 700px;
}

.testimony_course {
	background-color: royalblue;
	color: #fff;
	display: inline-block;
	padding: 5px;
}

.testimony_arrow {
	width: 90%;
	cursor: pointer;
}

/* Seccion de preguntas */

.questions {
	text-align: center;
}
/* Contenedor principal de preguntas */
.questions_container {
	display: grid;
	gap: 2em;
	padding-top: 50px;
	padding-bottom: 100px;
}

.questions_padding {
	padding: 0px;
	transition: padding 0.3s;
	border: 1px solid #5454d4;
	border-radius: 6px;
}

.questions_padding--add {
	padding-bottom: 30px;
}

.questions_answer {
	padding: 0 30px 0;
	overflow: hidden;
}

.questions_title {
	text-align: left;
	display: flex;
	font-size: 20px;
	padding: 30px 0 30px;
	cursor: pointer;
	color: var(--color-title);
	justify-content: space-between;
}
/* Maneja los estilos de la imagen que se encuentra al final del recuadro y añade su animacion */
.questions_arrow {
	border-radius: 50%;
	background-color: #001a49;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: flex-end;
	margin-left: 10px;
	transition: transform 0.3s;
}

.questions_arrow--rotate {
	transform: rotate(180deg);
}
/* Questions show lo que hace es ocultar el texto, esto se podria agregar dinamicamente atraves de JS tambien */
.questions_show {
	height: 0;
	text-align: left;
	transition: height 0.3s;
}
.questions_img {
	display: block;
}

.questions_copy {
	margin-bottom: 30px;
	width: 60%;
	justify-self: center;
}

/* Footer, posee los estilos de toda la parte de abajo de la pagina */
.footer {
	background-color: #1d293f;
}

.footer_title {
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 30px;
}
.footer_title,
.footer_newsletter {
	color: #fff;
}

.footer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #fff;
	padding-bottom: 60px;
}

.nav--footer {
	padding-bottom: 20px;
	display: grid;
	gap: 1em;
	grid-auto-flow: row;
	height: 100%;
}

.nav_link--footer {
	display: flex;
	margin: 0;
	margin-right: 20px;
	flex-wrap: wrap;
}

.footer_inputs {
	margin-top: 10px;
	display: flex;
	overflow: hidden;
}

.footer_input {
	background-color: #fff;
	height: 50px;
	display: block;
	padding-left: 10px;
	border-radius: 6px;
	font-size: 1rem;
	outline: none;
	border: none;
	margin-right: 16px;
}

.footer_submit {
	margin-left: auto;
	display: inline-block;
	height: 50px;
	padding: 0 20px;
	background-color: #2091f9;
	border: none;
	font-size: 1rem;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
}

.footer_copy {
	--padding-container: 30px 0;
	text-align: center;
	color: #fff;
}

.footer_copyright {
	font-weight: 300;
}

.footer_icons {
	margin-bottom: 10px;
}

.footer_img {
	width: 30px;
}

/* Media queries, manejan el comportamiento de la pagina bajo ciertas resoluciones */

@media (max-width: 800px) {
	/* muestra el menu en 800px, funciona en chrome si se abre la consolay se extiende lo suficiente */
	.nav_menu {
		display: block;
	}
	/* Estilos del menu oscuro que se despliega al presionar el boton */
	.nav_link--menu {
		position: fixed;
		background-color: #000;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		z-index: 100;
		opacity: 0;
		pointer-events: none;
		transition: 0.7s opacity;
	}

	.nav_link--show {
		--show: block;
		opacity: 1;
		pointer-events: unset;
	}

	.nav_close {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 30px;
		cursor: pointer;
	}
	.hero_title {
		font-size: 2.5rem;
	}
	.about_main {
		gap: 2em;
	}

	/* centrado dinamico */
	.about_icons:last-of-type {
		grid-column: 1/-1;
	}

	.knowledge_container {
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr;
		gap: 3em;
		text-align: center;
	}

	.knowledge_picture {
		grid-row: 1/2;
		justify-self: center;
	}

	.testimony_container {
		grid-template-columns: 30px 1fr 30px;
	}

	.testimony_body {
		grid-template-columns: 1fr;
		grid-template-rows: max-content;
		gap: 3em;
		justify-items: center;
	}

	.testimony_img {
		width: 200px;
		height: 200px;
	}

	.questions_copy {
		width: 100%;
	}

	.footer_container {
		flex-wrap: wrap;
	}

	.nav--footer {
		width: 100%;
		justify-items: center;
	}

	.nav_link--footer {
		width: 100%;
		justify-content: space-evenly;
		margin: 0;
	}

	.footer_form {
		width: 100%;
		justify-content: space-evenly;
	}
	.footer_input {
		flex: 1;
	}
}

@media (max-width: 600px) {
	.hero_title {
		font-size: 2rem;
	}

	.hero_paragraph {
		font-size: 1rem;
	}

	.subtitle {
		font-size: 1.8rem;
	}

	.price_element {
		width: 90%;
	}

	.price_element--best {
		width: 90%;
		padding: 40px;
	}

	.testimony_container {
		grid-template-columns: 28px 1fr 28px;
		gap: 0.9em;
	}

	.price_price {
		font-size: 2rem;
	}

	.testimony {
		--padding-container: 60px 0;
	}

	.testimony_arrow {
		width: 100%;
	}

	.testimony_course {
		margin-top: 15px;
	}

	.questions_title {
		font-size: 1rem;
	}

	.nav_link--footer {
		justify-content: space-between;
	}

	.nav--footer {
		padding-bottom: 60px;
	}

	.footer_title {
		justify-self: start;
		margin: 15px;
	}

	.footer_inputs {
		flex-wrap: wrap;
	}

	.footer_input {
		flex-basis: 100%;
		margin: 0;
		margin-bottom: 16px;
	}

	.footer_submit {
		margin: 0;
		width: 100%;
	}
}
